/* variables */
$wc-color-blue: #3813c2;
$wc-font: bold;

/* jumbotron styles */
.jumbotron{
	background-image: url("../images/cloud.jpg");
	background-size: cover;
}

.display-4{
	font-weight: bold;
	text-decoration-color: black;
}

.lead{
	font-weight: bold;
	text-decoration-color: black;
}

.my-4{
	font-weight: bold;
	color: black;

}


body{
	background-color: $wc-color-blue;
	font-style: $wc-font;
}

p{
	color: black;
}
.navbar{
		color: $wc-color-blue;
	li{
	  color: $wc-color-blue;
	  padding: 0;
	  margin: 0;
	}
	ul{
	  color: $wc-color-blue;
	  padding: 0;
	  margin: 0;
	}
} 